@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Word Checker</h2>

<form action="/results" method="post">
  <div class="form-group">
    <label>Enter a sentence</label>
    <input class="form-control" type="text" name="sentence">
    <label>Enter a Word</label>
    <input class="form-control" type="text" name="word">
    <h3> Hit submit and see how many times the inputed word was used</h3>
    <button class="btn" type="submit">Submit</button>
  </div>
</form>
