<form action="/results" method="post">
  <label>Enter a Word</label>
  <input type="text" name="word">
  <label>Enter a sentence</label>
  <input type="text" name="sentence">
  <button type="submit">Submit</button>
</form>
